.main-profile {
  align-items: center;
  background: url('../../images/grunge-wall-texture.jpg');
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 80vw;
}

.profile-page-container {
  align-items: center;
  background: url('../../images/grunge-wall-texture.jpg');
  height: 100%;
  justify-content: center;
  width: 100%;
}

.profile-picture {
  border-radius: 100%;
  box-shadow: -9px 8px 8px 0 #0033;
  height: 220px;
  margin-left: 4vw;
  margin-top: 8vh;
  position: absolute;
  width: 220px;
}

.file-uploader {
  margin-left: 4vw;
  margin-top: 48vh;
  position: absolute;
  width: 220px;
}

.file-uploader input {
  display: none;
}

.custom-file-input {
  background-color: #666370;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 12px;
}

.profile-picture img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.profile-info-container {
  background: linear-gradient(90deg, #1c1f33, #161927);
  height: 75vh;
  margin-top: 25vh;
  width: 100%;
}

.username-edit-input, .email-input {
  background: #161927;
  border: none;
  border-radius: 12px;
  color: #f9eae1;
  font-size: 1rem;
  height: 30px;
  margin-top: 0;
  padding-left: 10px;
  width: 50%;
}

.description-edit-input {
  background: #161927;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  color: #f9eae1;
  font-size: 1rem;
  height: 180px;
  margin-top: 0;
  padding-left: 10px;
  resize: vertical;
  vertical-align: top;
  width: 100%;
  word-wrap: break-word;
}

.username-container, .email-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 21vw;
  width: 50%;
}

.description-container {
  display: flex;
  flex-flow: column;
  height: 30vh;
  justify-content: start;
  margin-left: 21vw;
  width: 50%;
}

.profile-info-container div h3 {
  color: #f9eae1;
  font-size: 16px;
  text-align: justify;
}

.profile-info-container div p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  margin-top: 0;
  text-align: justify;
}

.edit-profile-button {
  border: 1px solid #1c1f33;
  border-radius: 18px;
  color: #f9eae1;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 21vw;
  width: 10vw;
}

.edit-profile-button button {
  background: #fd5021;
  border: none;
  border-radius: 18px;
  color: #f9eae1;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  height: 40px;
  margin-top: 10px;
  width: 12vw;
}

.edit-profile-button button:disabled {
  background: #161927;
  color: #f9eae1;
  cursor: not-allowed;
}

.profile-info-container a {
  text-decoration: none;
}

.profile-info-container a:visited {
  color: #f9eae1;
}
