@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap') ;

.favorite-songs-container {
  align-items: center;
  background: url('../../images/grunge-wall-texture.jpg');
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 80vw;
}

.title-and-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.favorite-title-container {
  align-items: center;
  background: url('../../images/orangebg.jpg');
  display: flex;
  height: 25vh;
  justify-content: center;
  width: 100%;
}

.favorite-title-container h2 {
  color: #f9eae1;
  font-family: League Gothic , sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-weight: 400;
  margin-top: 60px;
  text-align: center;
}

.songs-container {
  align-items: center;
  background: url('../../images/torn-posters.jpg');
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 75vh;
  justify-content: center;
  overflow-y: scroll;
  width: 100%;
}
