.favorite-songs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 80vw;
}

.title-and-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.favorite-title-container {
  align-items: center;
  background: url('../../images/orangebg.jpg');
  display: flex;
  height: 25vh;
  justify-content: center;
  width: 100%;
}

.favorite-title-container h2 {
  color: #f9eae1;
  font-family: Rubik Distressed , system-ui , sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 60px;
  text-align: center;
}

.favorite-songs-div {
  align-items: center;
  background: url('../../images/torn-posters.jpg');
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 75vh;
  justify-content: center;
  overflow-y: scroll;
  width: 100%;
}

.rock-icon {
  background-attachment: fixed;
  bottom: 0;
  left: 0;
  margin-left: 30vw;
  position: absolute;
  width: 100px;
}
