.main-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 80vw;
}

.searchtab {
  align-items: center;
  background: url('../../images/orangebg.jpg');
  display: flex;
  height: 25vh;
  justify-content: center;
  width: 80vw;
}

.searchtab input {
  background-color: #f9eae1;
  border: none;
  border-radius: 40px;
  color: #161827;
  font-size: 14px;
  font-weight: 700;
  height: 10px;
  padding: 10px;
  text-align: start;
  width: 300px;
}

.searchtab button {
  background-color: #1c1f33;
  border: none;
  border-radius: 40px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
}

.searchtab button:disabled {
  background-color: #666370;
  box-shadow: none;
  color: #f9eae1;
  cursor: not-allowed;
}

.searchtab button:active {
  box-shadow: none;
}

.result-div {
  align-items: center;
  background: url('../../images/torn-posters.jpg');
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  width: 80vw;
}

.result-title {
  align-items: center;
  background-color: #1c1f33;
  border-radius: 20px;
  color: #ff6b42;
  display: flex;
  font-size: 12px;
  font-style: italic;
  height: 40px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.result-title h2 {
  font-family: Honk , system-ui;
  font-optical-sizing: auto;
  font-size: 22px;
  font-style: normal;
  font-variation-settings: 'MORF' 15 , 'SHLN' 50;
  font-weight: 400;
}

.albums-div {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 60vh;
  justify-content: center;
  margin-top: 20px;
  overflow-y: scroll;
  width: 80vw;
}
