.main-songs {
  align-items: center;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 80vw;
}

.album-artist-container {
  align-items: flex-start;
  background: url('../../images/orangebg.jpg');
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  width: 80vw;
}

.songs-container {
  align-items: center;
  background: url('../../images/torn-posters.jpg');
  border: 3px solid orangered;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  width: 80vw;
}

.audio-players {
  align-items: center;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  margin-left: 60px;
  overflow-y: scroll;
  width: 50vw;
}

.audio-players::-webkit-scrollbar {
  height: 0;
  width: 0;
}
